.menuReservas{
    width: 95%;
    height: 30px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 10px;
}
.casilla{
    background-color:black ;
}
.formContactoReservas{
    width: 450px;
    height:450px;
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    margin: 60px;
}
.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.formReservas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.favorito{
    width: 20rem;
    height: 10rem;
    border-radius: 10px;
    margin-left: 25rem;
}